@charset "utf-8";
/* CSS Document */
#page{
	background-color:;
}
#myNavbar{
	background-color:#bf6d6d;
	border-color:#000000;
	}


#myNavbar li a {
	color:black;
	font-family:Trebuchet MS;
	font-size:1em;
	}

#myNavbar li a:hover{
	color:#0eb40e;
	font-size:1.5em;
	background-color:#000000;
	border-top-color:#6499d5;
	border-bottom-color:#6499d5;
	border-right-color:#6499d5;
	border-left-color:#6499d5;
	
	}

#myNavbar li li a {
	color:black;
	border-top-color:#6499d5;
	}
	
	
	
#history{
	background-color:#c2fabc;
}
#current{
	background-color:#e8bcfa;
}